@import "../../variables";

.banner_area {
    height: 100vh;
    background-color: $primary-color;
    position: absolute;
    width: 588px;
    color: #ffffff;
    left: 0px;
    top: 0px;

    .banner_heading {
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        line-height: 88px;
    }
}

.login_area {
    position: absolute;
    width: 852px;
    height: 100vh;
    left: 588px;
    top: 0px;
    background: #f5f5f5;
}

.current_page_title {
    // position: absolute;
    // width: 131px;
    // height: 44px;
    // left: 832px;
    // top: 260px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

}
.current_page_description {
    // position: absolute;
    // width: 161px;
    // height: 19px;
    // left: 832px;
    // top: 309px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
