@import "../variables";

.app-container {
  position: relative;
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 2%;
}

.current_page_header {
  position: absolute;
  width: 138px;
  height: 29px;
  left: 330px;
  top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.header-img {
  margin-right: 2rem;
}

.router_outlet {
  padding-left: 7rem;
}
