@import "../../../variables";

.navigation {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 280px;
    height: 100vh;
    background: $primary-color;
    border-radius: 30px;

    .navigation_header {
        /* Dash. */

        position: absolute;
        left: 17.86%;
        right: 44.29%;
        top: 6.36%;
        bottom: 88.98%;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        color: #ffffff;
    }

    .navigation_container {
        position: absolute;
        left: 7.86%;
        right: 44.29%;
        top: 17.37%;
        bottom: 80.3%;
    }

    .navigation_option {
        list-style: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        a {
            color: #ffffff;
            text-decoration: none;

            .route_icon {
                padding-right: 12px;
            }
        }

        .active {
            font-weight: bold;
        }
    }
}
