<div class="row my-3">
    <div class="col-12 d-flex justify-content-between">
        <!-- Continue with Google -->
    <button type="button" class="social_btn" (click)="authService.GoogleAuth()">
      <img src="../../../assets/images/google-icon 1.svg" alt="">
      Sign up with Google
    </button>
    <button type="button" class="social_btn" (click)="authService.GoogleAuth()">
        <img src="../../../assets/images/apple 1.svg" alt="">
        Sign up with Apple
      </button>
    </div>
</div>

<div class="section_card">
    <div class="w-100 row">
        <!-- Sign Up Form -->
        <form class="w-100">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom_form_label" for="firstName">First Name</label>
                        <input type="text" class="custom_input_field" id="firstName"
                            aria-describedby="firstNameHelp">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom_form_label" for="lastName">Last Name</label>
                        <input type="text" class="custom_input_field" id="lastName"
                            aria-describedby="firstNameHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="email">Email Address</label>
                        <input type="email" class="custom_input_field" id="email" aria-describedby="emailHelp" #userEmail required>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="currentpswrd">Password</label>
                        <input type="password" class="custom_input_field" id="currentpswrd"
                            aria-describedby="currentpswrdHelp" #userPwd required>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="newpswrd">Confirm Password</label>
                        <input type="password" class="custom_input_field" id="newpswrd"
                            aria-describedby="newpswrdHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="custom_btn custom_primary_btn custom_login_btn w-100"(click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>

  <div class="col-12 d-flex justify-content-center mt-3">
    <span>Already have an account? <span class="custom_link" routerLink="/login/sign-in">Sign in here</span></span>
  </div> 
