<div class="section_card">
    <div class="row w-100 d-flex justify-content-between pb-4">
        <div class="col-12 section_card_header">Account</div>
    </div>
    <div class="w-100 row">
        <!-- Sign Up Form -->
        <form class="w-100">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom_form_label" for="firstName">First Name</label>
                        <input type="text" class="custom_input_field" id="firstName"
                            aria-describedby="firstNameHelp">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="custom_form_label" for="lastName">Last Name</label>
                        <input type="text" class="custom_input_field" id="lastName"
                            aria-describedby="firstNameHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="email">Email Address</label>
                        <input type="email" class="custom_input_field" id="email" aria-describedby="emailHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="currentpswrd">Current Password</label>
                        <input type="password" class="custom_input_field" id="currentpswrd"
                            aria-describedby="currentpswrdHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="custom_form_label" for="newpswrd">New Password</label>
                        <input type="password" class="custom_input_field" id="newpswrd"
                            aria-describedby="newpswrdHelp">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="custom_btn custom_save_btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>