/* You can add global styles to this file, and also import other style files */
@import "./variables";

body {
    font-family: "Montserrat", sans-serif !important;
    background-color: $background-color !important;
    box-sizing: border-box !important;
}

.section_card {
    background: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .section_card_header {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }

    .section_card_sub_header {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $secondary-color;
    }
}
